<p>关注我的动向:</p>
<ul>
  <li><a href="https://www.youtube.com/user/ryderleesz" target="_blank">
    <img class="icon" src="/static/img/icon/youtube.png" alt="Youtube频道"></a></li>
  <li><a href="https://space.bilibili.com/388982304" target="_blank">
    <img class="icon" src="/static/img/icon/bilibili_icon.png" alt="Bilibili"></a></li>
  <li><a href="https://github.com/liliangxiao" target="_blank">
    <img class="icon" src="/static/img/icon/github.png" alt="Github"></a></li>
</ul>
<br>
<br>
<p><strong>Email:</strong>  liliangxiao@live.com</p>
<p>&copy; 2019 liliangxiao.github.io All Rights Reserved</p>
