---
title: "关于良晓"
youtube_id: 
youku_id: 
b_av: 
permalink: /about/
thumbnail: /static/img/description/my_pic_small.jpg
items:
  - [text, Email, "liliangxiao@live.com"]
  - [link, Youtube, "https://www.youtube.com/user/ryderleesz"]
  - [link, Bilibili, "https://space.bilibili.com/388982304"]
  - [link, Github, "https://lilixangxiao.github.com/"]

description: "我叫李良晓, 喜欢钻研技术，喜欢追求改变和感觉进步的快乐。"
---

<h1 style="display:none; padding:0; margin:0;">{{page.title}}</h1>
<div class="section ie-size">
	{% include embedded-video.html %} 
	<div class="pad-main">
		<p>
			<img class="lazy-img" data-src="/static/img/description/my_pic.jpg" src=""
			     alt="My smile" style="float:left;width:20%;padding:10px;border-radius:50%;">
		  我叫 <strong>李良晓, 英文名Ryder Lee</strong>.
		</p>
		<p>
			以后我会补充对自己的介绍
		</p>

		<br>
		<h2 class="small-h1">
			我的一点点背景资料 (Ryder's Background)
		</h2>
		<table class="my-background-table">
			<colgroup>
				<col width="15%" />
				<col width="35%" />
				<col width="50%" />
			</colgroup>
			<tbody>
				<tr>
					<td>1978~</td>
					<td>出生</td>
					<td>河南人(Henan, China)</td>
				</tr>
				<tr>
					<td>1991~1997</td>
					<td>中学</td>
					<td>河南省实验中学, 郑州</td>
				</tr>
				<tr>
					<td>1997~2001</td>
					<td>本科, 专业保密</td>
					<td>南京工业大学</td>
				</tr>
				<tr>
					<td>2001~2018</td>
					<td>工作</td>
					<td>深圳、上海、广州，中国</td>
				</tr>
			</tbody>
		</table>

		<br>

		<h2 class="small-h1">
			讨论与观看动向
		</h2>
		<p>
		    联系到我有很多种方式, 欢迎大家用各种途径留言, 有时间的话, 我会尽量回复你的留言或问题. 以下是几种可以讨论的方式:
		</p>
		<div id="contact-table" style="font-size:0.9em;">
			{% for item in page.items %}
				<div class="row">
				  <p style="color: #02338e;">{{ item[1] }}:</p>
					{% if item[0] == "link" %}
				    <a href="{{ item[2] }}" style="font-size:0.7em;" target="_blank">
					    {{ item[2] }}
				    </a>
					{% elsif item[0] == "text" %}
					  <span style="text-decoration:none; color:#f56100;" >
					    {{ item[2] }}
				    </span>
					{% endif %}
				</div>
			{% endfor %}

		</div>
	</div>
</div>
