---
title: "赞助支持良晓"
permalink: /support/
items:
  - name: 支付宝
    link: "/static/img/support/alipay.jpg"
    image-link: "/static/img/support/alipay.jpg"
  - name: 微信
    link: "/static/img/support/Wechat.png"
    image-link: "/static/img/support/Wechat.png"
  - name: Paypal
    link: "https://paypal.me/rydersz"
    image-link: "https://www.paypalobjects.com/zh_XC/i/btn/btn_donateCC_LG.gif"
description: "如何您觉得我的网络能给您带来益处，并且也希望我的网络能够继续产出，那么希望您可以继续助我一臂之力, 我一定不负期望，把网站做好。"
---

<div class="pad-main section ie-size">
  <h1 class="page-title">为了更优秀</h1>


  <p>
     如何您觉得我的网络能给您带来益处，并且也希望我的网络能够继续产出，那么希望您可以继续助我一臂之力, 我一定不负期望，把网站做好。 
  </p>

  <br>
  <hr>
  <div id="support-box">
      <div id="support-box-wrapper">
        {% for item in page.items %}
          <div>
            <h3>{{ item.name }}</h3>
            <a href="{{ item.link }}">
              <div class="support-dropdown">
                <img style="{% if item.name != 'Paypal' %} border-radius: 10px;  box-shadow: 0px 0px 10px 1px  #888888; {% endif %}"
                     src="{{ item.image-link }}"
                     alt="{{ item.name }}">

                {% if item.name != 'Paypal' and item.name != 'Patreon' %}
                  <div class="support-SD-dropdown">
                    <img style="{% if item.name != 'Paypal' %} border-radius: 10px;  box-shadow: 0px 0px 10px 1px  #888888; {% endif %}"
                         src="{{ item.image-link }}"
                         alt="{{ item.name }}">
                  </div>
                {% endif %}
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
  </div>
</div>

