---
layout: base
nav-items:
  - top-name: "成长 ▾"
    tut-path: "progress/"
    icon-path: "grow_icon.jpg"
    drop-contents:
      - name: "积极的思想"
        link: "thoughts/"
        has-cont: no
        icon-path: "thoughts.jpg"
      - name: "美好的生活"
        link: "life/"
        has-cont: no
        icon-path: "life.jpg"
  - top-name: "软件 ▾"
    tut-path: "software/"
    icon-path: "ML_icon.png"
    drop-contents:
      - name: "Linux"
        link: "linux/"
        has-cont: "no"
        icon-path: "linux.jpg"
  - top-name: "机器学习 ▾"
    tut-path: "machine-learning/"
    icon-path: "ML_icon.png"
    drop-contents:
      - name: "神经网络"
        link: "neuralnetwork/"
        has-cont: "no"
        icon-path: "neural_net_icon.png"

---


<header>
  <nav id="home-nav">
    <ul>
      <li><a class="nav-home" href="/" ><strong>李良晓说</strong></a></li>
      <li><a href="/discuss/">大家说</a></li>
      <li><a href="/support/">赞助</a></li>
      <li><a href="/about/">About</a></li>
      <li>

        <a class="search-bar clicker"><img class="search-img" src="/static/img/icon/search_icon.png" alt="Go"></a>

        <!-- 360 search -->
        <!--<form class="search-box dropdown-content" action="https://www.so.com/s" target="_blank">-->
          <!--<input class="search-text" type="text" autocomplete="on" name="q" size="20" >-->
          <!--<input type="hidden" name="ie" value="utf8">-->
          <!--<input type="hidden" name="src" value="zz_morvanzhou.github.io">-->
          <!--<input type="hidden" name="site" value="morvanzhou.github.io">-->
          <!--<input type="hidden" name="rg" value="1">-->
        <!--</form>-->

        <!-- bing search -->
        <form class="search-box dropdown-content" method="get" action="https://www.bing.com/search" target="_blank">
          <input type="hidden" name="q1" value="site:liliangxiao.github.io" />
          <input class="search-text" type="text" name="q" placeholder="Search.." size="20" value=""/>
        </form>
      </li>

      <!-- tutorial navigation -->
      <li class="dropbtn"><a class="clicker">教程 ▾</a>
        <ul class="dropdown-content">
          {% for item in layout.nav-items %}
            <li class="dropbtn">
              <a class="{% if item.tut-path != 'learning-steps/' %}clicker{% endif %}" href="{% if item.tut-path == 'learning-steps/' %}/{{item.tut-path}}{% endif %}">
                <img class="icon-image" src="/static/img/icon/{{ item.icon-path }}">
                {{ item.top-name }}
              </a>
              {% if item.tut-path != 'learning-steps/' %}
              <ul class="dropdown-content">
                {% for sub-item in item.drop-contents %}
                  {% if sub-item.has-cont == "yes" %}
                    <li class="dropbtn"><img class="icon-image" src="/static/img/icon/{{ sub-item.icon-path }}" style="max-width:1.5em; max-height:1.1em;">
                      <a class="clicker">{{ sub-item.name }}</a>
                      <ul class="dropdown-content">
                        {% for sub-item-link in sub-item.link %}
                        <li><img class="icon-image" src="/static/img/icon/{{ sub-item-link[2] }}" style="max-width:1.5em; max-height:1.1em;">
                          <a href="{{ site.url }}/tutorials/{{ item.tut-path }}{{ sub-item-link[1] }}">{{ sub-item-link[0] }}</a></li>
                        {% endfor %}
                      </ul>
                    </li>
                  {% else %}
                    <li><img class="icon-image" src="/static/img/icon/{{ sub-item.icon-path }}" style="max-width:1.5em; max-height:1.1em;">
                      <a href="{{ site.url }}/tutorials/{{ item.tut-path }}{{ sub-item.link }}">{{ sub-item.name }}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </li>
    </ul>
  </nav>
</header>


{{content}}
